@model LeilaoDoMeuCoracao.PL.Lance

@{
    ViewData["Title"] = "DeterminarLanceGanhador";
}

    <h1>Parabéns  @Html.DisplayFor(model => model.User.Nome)!!</h1>

<div>
    <h4>Lance</h4>
    <hr />
    <dl class="row">
        <dd class="col-sm-10">
            @Html.DisplayNameFor(model => model.DataHoraLance)
        </dd>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataHoraLance)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
